.header, .hero, .body, .bar, .footer{
	background-color: yellow;
	margin-top: 10px;
}

.box{
	margin: 10px 0;
	min-height: 80px;
	background-color: aquamarine;
	font-size: 30px;
	color: white;
}
.red{
	background-color: lime;
}
.five{
	background-color: blue;
}